.l-content {
  max-width: var(--global-width);
  margin: 0 auto;
  text-align: center;

  &__title {
    margin-bottom: 30px;

    h1 {
      margin-bottom: 0;

      + p {
        margin-top: 10px;
        margin-bottom: 0;
      }
    }
  }
}
