// Table of Contents
//
// 1. Display
// 2. Margin
// 3. Text

// 1. Display
.d-block {
  display: block;
}

// 2. Margin
.mt-15 {
  margin-top: 15px !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

// 3. text
.text-center {
  text-align: center;
}

.text-capitalize {
  text-transform: capitalize;
}

.list-reset {
  @extend %list-reset;
}
