$brown-light: #fffcdd;
$brown-medium: #f0e6b8;
$brown-dark: #d8cfa6;
$brown-darkest: #583e27;
$brown-border: #c1b995;


$breakpoints: (
        '': 0,
        tiny: 320,
        small: 480,
        medium: 768,
        large: 1024,
        mega: 1440
);

$z-index: (
        modal: 100,
        slider: 90,
        sliderOverlay: 80
);
